{erl_opts, [debug_info, warn_unused_vars, warn_shadow_vars, warn_unused_import, warn_obsolete_guard]}.

{deps, [{epgsql, "~> 4.7"}]}.

{profiles, [
    {test, [{erl_opts, [nowarn_export_all]}]}
]}.

{dialyzer, [
    {warnings, [unmatched_returns, error_handling, unknown]},
    {plt_extra_apps, [epgsql, ssl, public_key]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls
]}.

{cover_enabled, true}.

{hex, [{doc, edoc}]}.

{edoc_opts, [{preprocess, true}, {title, "eysql"}]}.
